version: '3.8'

services:
  postgres-reframed:
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: reframed_dev
    ports:
      - "5432:5432"  # Открываем порт 5432 на хосте для reframed
    networks:
      - app-network

  postgres-sso:
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sso_dev
    ports:
      - "5433:5432"
    networks:
      - app-network

  grpc-sso-service:
    image: rshelekhov/grpc-sso:latest
    environment:
      CONFIG_PATH: /config/.env
      POSTGRESQL_URL: postgres://root:password@postgres-sso:5433/sso_dev?sslmode=disable
    volumes:
      - ./config/grpc-sso:/config
    networks:
      - app-network
    depends_on:
      - postgres-sso
    ports:
      - "44044:44044"

  reframed:
    build: .
    environment:
      CONFIG_PATH: /config/reframed/.env
      POSTGRESQL_URL: postgres://root:password@postgres-reframed:5432/reframed_dev?sslmode=disable
    volumes:
      - ./config/reframed:/config
    networks:
      - app-network
    depends_on:
      - postgres-reframed
    ports:
      - "8080:8080"

networks:
  app-network:
    driver: bridge