name: Build and test with gRPC SSO service

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: password
          POSTGRES_DB: reframed_dev
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.22'

      - name: Install golang-migrate
        run: |
          go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@latest
          export PATH=$PATH:$(go env GOPATH)/bin
          which migrate

      - name: Install dependencies
        run: |
          go mod tidy
          go mod vendor

      - name: Create .env files
        run: |
          mkdir -p ./config/reframed ./config/grpc-sso
          echo "${{ secrets.ENV_CONFIG_TEST_REFRAMED }}" > ./config/reframed/.env
          echo "${{ secrets.ENV_CONFIG_TEST_SSO }}" > ./config/grpc-sso/.env

      - name: Create Docker network
        run: docker network create test-network

      - name: Run PostgreSQL container for SSO
        run: |
          docker run -d --name postgres-sso --network test-network \
            -e POSTGRES_USER=root \
            -e POSTGRES_PASSWORD=password \
            -e POSTGRES_DB=sso_dev \
            postgres:latest

      - name: Pull and run gRPC SSO service container
        run: |
          docker pull rshelekhov/grpc-sso:latest
          docker run -d --name grpc-sso-service --network test-network \
            -v $(pwd)/config/grpc-sso:/config \
            -e CONFIG_PATH=/config/.env \
            -e POSTGRESQL_URL=postgres://root:password@postgres-sso:5432/sso_dev?sslmode=disable \
            -p 44044:44044 \
            rshelekhov/grpc-sso:latest

      - name: Check container status and logs if it failed
        run: |
          if [ "$(docker inspect -f {{.State.Running}} grpc-sso-service)" != "true" ]; then
            echo "Container grpc-sso-service failed to start. Displaying logs:"
            docker logs grpc-sso-service
            exit 1
          fi

      - name: Wait for services to be ready
        run: sleep 30

      - name: Run make setup-dev for gRPC SSO service
        run: docker exec grpc-sso-service make setup-dev

      - name: Run tests for Reframed service
        env:
          CONFIG_PATH: ./config/reframed/.env
          POSTGRESQL_URL: postgres://root:password@localhost:5432/reframed_dev?sslmode=disable
        run: make test-api

      - name: Check logs for gRPC SSO service
        run: docker logs grpc-sso-service

      - name: Notify results
        run: echo "Tests completed!"